.userinfo {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 4px;
  margin-bottom: 4px;

  .user {
    display: flex;
    align-items: center;
    gap: 20px;

    .avatar-wrapper {
      position: relative;

      img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        object-fit: cover;
        border: 5px solid black;
        margin-top: 20px;
      }

      .online-marker {
        position: absolute;
        bottom: 9px;
        right: 6px;
        width: 12px;
        height: 12px;
        background-color: #4caf50;
        border-radius: 50%;
        border: 3px solid black;
      }
    }

    .name-position {
      margin-top: 15px;
    }
  }
}
