#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f8f9fa;
  padding: 0px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 -2px  5px rgba(0, 0, 0, 0.1);
}

.footer button {
  flex: 1;
  padding: 22px 0px;
  font-size: 17px;
  border: none;
  border-right: 1px solid rgb(7, 7, 128);
  border-top: 1px solid rgb(7, 7, 128);
  border-bottom: 2px solid rgb(7, 7, 128);
  border-left: 1px solid rgb(7, 7, 128);
  border-radius: 0px;
  background-color: #000000;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  box-sizing: border-box;
}

.footer button:hover {
  background-color: #0056b3;
}
