.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image {
  width: 250px; /* Set a larger width */
  height: 250px; /* Set a larger height */
  object-fit: cover; /* Ensures the image covers the container while preserving its aspect ratio */
  border-radius: 50%; /* Makes the image circular */
  border: 5px solid black;
  margin-top: 20px;
}

/*https://uiverse.io/niat786/perfect-warthog-57*/
.profile-title {
  font-size: 36px;
  font-weight: 600;
}

.profileView button {
  border: none;
  color: #fff;
  background-image: linear-gradient(30deg, #000000, #2e6f40);
  border-radius: 20px;
  background-size: 100% auto;
  font-size: 16px;
  padding: 0.4em 1.9em;
}

.profileView button:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #05bada66;
  }
  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }
  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}
