.glass-effect {
    background: linear-gradient(135.deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solig rgba(255, 255, 255, 0.18);
    border-radius: 32px;
}


.backdrop-image {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/gymbuddy-d7838.firebasestorage.app/o/WREC_Image.jpg?alt=media&token=f92533d7-4f7d-4589-842b-1079e92ae78f');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.scroll-container {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}